<div ng-controller="HelpController" class="col-md-12">
    <header class="col-md-12">
        <div class="col-md-6">
            <h1>Membership</h1>
        </div>
        <div class="col-md-1 col-md-push-5">
            <a href="#" ng-click="toggleModal()" class="help-icon">
                <span class="glyphicon glyphicon-question-sign"></span>
            </a>                                    
        </div>
        @Html.Partial("Admin/Membership/_HelpText")   
    </header>
</div>