 <modal title="Help" visible="showModal">
    <div><strong>Find</strong></div>
     <ul>
         <li>Select Member(s) by Type (All, Player, Guardian) and or Name and or Active/Inactive</li>
         <li>Click <strong>Find</strong></li>
     </ul>
     <div><strong>Active/Inactive</strong></div>
     <ul>
         <li><i>A member cannot be deleted just in case they have cricketing stats or junior contact details. Instead a member is deactivated.</i></li>
         <li>Click the "thumb" toggle button to activate and inactivate members</li>
     </ul>
      <div><strong>Edit</strong></div>
     <ul>        
         <li>Click the "pen and pad" button to edit member details</li>         
         <li>To remove a junior (Ward) from a Guardian click the "bin" button</li>
         <li>To add a junior (Ward) to a Guardian click the "plus" button</li>
         <li>Click the <strong>Save</strong> button to save changes</li>
         <li style="border-top: 1px solid #e5e5e5; margin-top: 2%; padding-top: 2%">Click <strong>Back to Search Results</strong> link to return to Member List Page</li>         
     </ul>
 </modal>