<div class="table-responsive">
    <h3>Member Admin - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="20%">Name</th>
                <th width="75%">Story</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Member List</td>
                <td>
                    <ul>
                        <li>As a member administrator I would like to...</li>
                        <li>See a list of active or inactive Players, Guardians or Officials</li>
                        <li>Filter a Player list by player type : Senior of Junior</li>
                        <li>Edit a Senior's registration details</li>
                        <li>Filter a Guradian list by ward (Junior) name</li>
                        <li>Edit a Guradian's registration details</li>
                        <li>Add or Remove a Guradian's wards</li>
                        <li>Merge Player, Guardian or Official records</li>
                        <li>Make a Player, Guardian or Official active or inactive</li>
                        <li>Manage member type: Make a Guardian a Senior Player</li>
                        <li>Manage member type: Make a Senior Player a Guardian</li>
                        <li>Manage member type: Make a Junior Player a Senior Player</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
