<div class="table-responsive">
    <h3>Fixture Admin - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="20%">Name</th>
                <th width="75%">Story</th>
            </tr>
        </thead>
        <tbody>
           
            <tr>
                <td>3</td>
                <td>Fixture List</td>
                <td>
                    <ul>
                        <li>See a list of fixtures</li>
                        <li>Filter fixture list by season and or team</li>
                        <li>Find a fixture by date</li>
                        <li>Edit a fixture</li>
                        <li>Add season fixtures quickly</li>
                    </ul>
                </td>
            </tr>
             <tr>
                <td>2</td>
                <td>Player List</td>
                <td>
                    <ul>
                        <li>As a fixture administrator I would like to...</li>
                        <li>See a list of available players and their age group for a given date</li>
                        <li>Filter player list by age group or player name</li>                    
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
