<div class="table-responsive">
    <h3>Club Entities - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="20%">Name</th>
                <th width="75%">Story</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Unique</td>
                <td>
                    <ul>
                        <li>There cannot be more than one <strong>member</strong> record with the same lastname and firstname</li>
                        <li>There cannot be more than one <strong>contact</strong> record with the same email address</li>
                        <li>There cannot be more than one <strong>address</strong> record with the same addressline and postcode</li>  
                        <li>There cannot be more than one <strong>fixture</strong> record with the same home team name and date played</li>  
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
