<div class="table-responsive">
    <h3>Fixture - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="20%">Name</th>
                <th width="75%">Story</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Stats</td>
                <td>
                    <ul>
                        <li>Fixtures might be viewed for a team for all seasons or for a single season</li>
                        <li>Fixtures might be viewed for all team for all seasons or for a single season</li>
                        <li>Fixtures might be viewed for a player for all seasons or for a single season</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
