<div class="table-responsive">
    <h3>Member Definition - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="20%">Name</th>
                <th width="75%">Story</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>A Member</td>
                <td>
                    <ul>
                        <li>A member can be one or all of the following; a player, a guardian or an official</li>
                        <li>A member has to have a unique name (firstname and lastname combined)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>A Player</td>
                <td>
                    <ul>
                        <li>A player can be a junior or a senior</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>A Junior</td>
                <td>
                    <ul>
                        <li>A junior can have be the ward of one or more guardians</li>
                        <li>A junior will not have any contact or address details</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>A Senior</td>
                <td>
                    <ul>
                        <li>A senior has contact and address details</li>
                        <li>Contact details must contain an eMail address</li>
                        <li>Address details must contain an address first line and a post code</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>A Guardian</td>
                <td>
                    <ul>
                        <li>A guardian can be responsible for one or more juniors (wards)</li>
                        <li>A guardian has contact and   address details</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
