<div class="table-responsive">
    <h3>Member Registration - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="20%">Name</th>
                <th width="75%">Story</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>New Member</td>
                <td>
                    <ul>
                        <li>As a new member I would like to register as either a Guardian, Senior Player, Club Official or any combination of the three</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Administrator</td>
                <td>
                    <ul>
                        <li>As an administrator I would like to view of new registrations that will enable me to vet a potential new member</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Vetted Member</td>
                <td>
                    <ul>
                        <li>Once vetted as a new (vetted) member I will receive a user name and password that will allow me to maintain my own registration details and veiw any outstanding club payments (eg Membership subs)</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
