<div class="table-responsive">
    <h3>Player Stats - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th width="5%">#</th>
                <th width="20%">Name</th>
                <th width="75%">Story</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Stats</td>
                <td>
                    <ul>
                        <li>Stats might be viewed for a team for all seasons or for a single season</li>
                        <li>Stats might be viewed for all teams for all seasons or for a single season</li>
                        <li>Stats might be viewed for a player for all seasons or for a single season</li>
                        <li>Stats might be viewed for all players for all seasons</li>
                        <li>Stats might be viewed for a fixture</li>
                        <li>Any stats view can be ordered by player, team or year</li>
                        <li>Any stats view can be filtered by player, team or year</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
