 <modal title="Help" visible="showModal">
     <div><strong>Find</strong></div>
     <ul>
         <li><i>I order to select a team for a fixture we first need to select a team's fixtures</i></li>
         <li>Select Team</li>
         <li>Click <strong>Find</strong></li>     
         <li>Click on the fixture</li>
     </ul>
     <ul>
         <li><i>You can create a team from those players who have said they are available and/or from all available players</i></li>         
     </ul>
      <div><strong>Available Players</strong></div>
     <ul>
         <li>Double-Click on the player in the list of "Available Players"</li>
     </ul>
     <div><strong>All Players</strong></div>
     <ul>
         <li><i>As you start typing a player's name a list will appear based on the name you are typing</i></li>
         <li>Type the name of the player</li>
         <li>Select name of the player</li>
         <li>Double-Click on the player</li>
     </ul>
 </modal>