 <modal title="Help" visible="showModal">    
     <ul>
         <li><i>A member can have one or more roles, for example you could be a player and a guardian or just a guardian</i></li>
         <li>Click <strong>Adult Player</strong> and or <strong>Guardian</strong> and or <strong>Officer</strong> </li>
     </ul>
     <div><strong>Adding Your Details</strong></div>
     <ul>        
         <li>To add a junior (Ward) to a Guardian click the "plus" button</li>
         <li>Click the <strong>Save</strong> button to save changes</li>         
         <li style="border-top: 1px solid #e5e5e5; margin-top: 2%; padding-top: 2%">Click <strong>Cancel</strong> to return to Registration Page</li>         
     </ul>
 </modal>