<div class="form-group col-md-12">
    <div data-toggle="buttons">
        <span class="col-md-2"></span>
        <label class="btn btn-primary col-md-2 select-button" ng-model="roles.player" btn-checkbox>
            Adult Player
        </label>
        <span class="col-md-1"></span>
        <label class="btn btn-primary col-md-2 select-button" ng-model="roles.guardian" btn-checkbox>
            Guardian
        </label>
        <span class="col-md-1"></span>
        <label class="btn btn-primary col-md-2 select-button" ng-model="roles.officer" btn-checkbox>
            Officer
        </label>
        <span class="col-md-2"></span>
    </div>
</div>


@*<pre><code>{{ roles | json }}</code></pre>*@