<div class="col-md-12 group">
    <table class="stats-table bowling" tr-ng-grid='' items='bowling' fields='show_bowling_stat_fields'>
        <th field-name="OversStr" display-name="Overs"></th> 
        <th field-name="EconomyStr" display-name="Economy"></th> 
        <th field-name="StrikeStr" display-name="Strike"></th> 
    </table>
</div>