 <modal title="Help" visible="showModal">
     <div><strong>Vet New Registrations</strong></div>
     <ul>
         <li><i>When a new member registars they cannot use the website until they have been vetted. When they are sucessfully vetted a web account is created and the new member is notified by eMail</i></li>
         <li>Click on orange button to vet the new member registration</li>
     </ul>
 </modal>