div.stats-selector {
  font-size: small;
}
div.stats-selector select {
  padding: 1%;
  font-size: small;
}
div.stats-selector input {
  font-size: small;
}
div.stats-batting,
div.stats-bowling,
div.stats-fielding {
  margin-top: 0;
}
div.stats-batting table,
div.stats-bowling table,
div.stats-fielding table {
  width: inherit !important;
}
ul.stats-pills {
  margin-top: 10%;
  margin-left: 2%;
}
a[ng-click] {
  cursor: pointer;
}
