 <modal title="Help" visible="showModal">
     <div><strong>Find</strong></div>
     <ul>
         <li>Select Fixture(s) by Season and or Team and or Fixture Date</li>
         <li>Click <strong>Find</strong></li>
     </ul>
     <div><strong>Add</strong></div>
     <ul>
         <li>Click <strong>Add</strong></li>
         <li>Enter Fixture Date</li>
         <li>Select Team</li>
         <li>Select Opposition</li>
         <li>Click <strong>Save</strong></li>  
      
         <li style="border-top: 1px solid #e5e5e5; margin-top: 2%; padding-top: 2%">Click <strong>Cancel</strong> to return to Fixture Admin Page</li>         
     </ul>
 </modal>